name: send_notice_cron

on: [push]
#   schedule:
#   - cron: "0 0 * * *"

jobs:
  job1:
    runs-on: ubuntu-latest

    steps:
        - name: upload
          uses: actions/upload-artifact@v3
          with:
            name: notice_artifact
            path: recent_post_id.txt
        - shell: bash
          run: |
            echo 1 10 > recent_post_id.txt
        
  job2:
    runs-on: ubuntu-latest
    needs : job1
    
    steps:
        - name: download
          uses: actions/download-artifact@v3
          with:
            name: notice_artifact
        - shell: bash
          run: |
            cat recent_post_id.txt
