name: send_notice_cron

on: [push]
#   schedule:
#   - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        #- shell: bash
        #  run: |
        #    echo 1 10 > recent_post_id.txt
        
        #- name: upload
        #  uses: actions/upload-artifact@v1
        #  with:
        #    name: homework
        #    path: recent_post_id.txt
            
        - name: download
          uses: actions/download-artifact@v1
          with:
            name: homework
        - shell: bash
          run: |
            cat recent_post_id.txt
