name: send_notice_cron

on: [push]
#   schedule:
#   - cron: "0 0 * * *"

jobs:
  job:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v3
        
        - name: Make Changes
          run: |
            echo 12 34 > recent_notice_record.txt
            
        - name: Commit files
          run: |
            git config --global user.name 'bong-u'
            git config --global user.email 'bongudev@gmail.com'
            git remote set-url origin https://x-access-token:${{ secrets.GIT_TOKEN }}@github.com/${{ github.repository }}
            git commit -am "RECORD FILE UPDATED"
            git push
