name: cse_notice_crawler

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v3
        
        - name: Install dependencies
          run:
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        
        - name: Create gspread_auth.json
          uses: jsdaniell/create-json@1.1.2
          with: 
            name: "gspread_auth.json"
            json: ${{ secrets.GSPREAD_AUTH }}
            
        - name: Run python script
          env:
            SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          run: python MainModule.py