name: cnu_notice_crawler

on:
  schedule:
    # Every 12:00 KST, 18:00 KST
    - cron: "0 3,9 * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create gspread_auth.json
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "gspread_auth.json"
          json: ${{ secrets.GSPREAD_AUTH }}

      - name: Run python script
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          CHANNEL_BACHELOR: ${{ secrets.CHANNEL_BACHELOR }}
          CHANNEL_NOTICE: ${{ secrets.CHANNEL_NOTICE }}
          CHANNEL_PROJECT: ${{ secrets.CHANNEL_PROJECT }}
          CHANNEL_CNU: ${{ secrets.CHANNEL_CNU }}
        run: python MainModule.py
