name: cnu_notice_crawler

on:
  schedule:
    # Every 12:00 KST, 18:00 KST
    - cron: "0 3,9 * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run python script
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          SLACK_CHANNEL_BACHELOR: ${{ secrets.SLACK_CHANNEL_BACHELOR }}
          SLACK_CHANNEL_NOTICE: ${{ secrets.SLACK_CHANNEL_NOTICE }}
          SLACK_CHANNEL_PROJECT: ${{ secrets.SLACK_CHANNEL_PROJECT }}
          SLACK_CHANNEL_CNU: ${{ secrets.SLACK_CHANNEL_CNU }}
          REDIS_HOST: ${{ secrets.REDIS_HOST }}
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
          REDIS_PORT: ${{ secrets.REDIS_PORT }}
        run: |
          source venv/bin/activate
          python core/main.py

